<div class="flex items-center justify-center h-screen left-1/2 right-1/2 text-yellow-400">
  <div class="flex flex-col items-center mt-24">
    <div class="mb-4">
      <% if @visible_card %>
        <img src="<%= @visible_card['image'] %>" alt="<%= @visible_card['value'] %> of <%= @visible_card['suit'] %>">
      <% end %>
    </div>
    <div>
      <% if (@visible_card['value']) != "ACE" %>
        <h3 class="text-center mb-2"><%= @visible_card['value'] %>より強いカードを引けたらあなたの勝ちです。</h3>
      <% else %>
        <h3 class="text-center mb-2">残念、私は最強のカードです…</h3>
      <% end %>
      <% if current_user.equipped.any? { |equipped_skill| equipped_skill.name == "天使のつぶやき" } %>
        <div class="text-center">
          天使のつぶやき：4枚のカードは
          <% @shuffle_cards.each do |card| %>
            <%= card['value'] %>
          <% end %>
          だよ
        </div>
      <% end %>
      <% if current_user.equipped.any? { |equipped_skill| equipped_skill.name == "悪魔のささやき" } %>
        <div class="text-center">
          悪魔のささやき：一番左のカードは
          <%= @selected_card['value'] %>
          だ
        </div>
      <% end %>
      <div class="flex mt-4">
        <% @hidden_cards.each_with_index do |card, index| %>
          <div class="card mr-4 ml-4" data-index="<%= index%>">
            <%= button_to player_choice_path(card_index: index), method: :post do %>
              <img src="https://www.deckofcardsapi.com/static/img/back.png" alt="伏せたカード" style="cursor: pointer;" />
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

