<div class="flex items-center justify-center h-screen xl:fixed left-1/2 right-1/2">
  <%= form_with model: @user do |f| %>
    <div class="mb-6">
      <%= f.text_field :name, placeholder: '名前', style: "width: 200px;", autocomplete: 'off' %>
    </div>
    <div class="mb-6">
      <%= f.password_field :password, placeholder: 'パスワード', style: "width: 200px;", autocomplete: 'off' %>
    </div>
    <div class="mb-6">
      <%= f.password_field :password_confirmation, placeholder: 'パスワード（確認用）', style: "width: 200px;" ,autocomplete: 'off' %>
    </div>
    <div class="flex justify-end mb-8">
      <%= f.submit '登録', class: "text-yellow-400"%>
    </div>
    <div class="flex justify-start">
      <%= link_to "チェックインはこちら", login_path, class: "text-yellow-400"%>
    </div>
  <% end %>
</div>