<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "黒歴史カジノ" %></title>
    <%= favicon_link_tag asset_path('spade.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="黒歴史カジノ" />
    <meta name="twitter:url" content="https://kuro-casino-f76882fd1dd7.herokuapp.com" />
    <meta name="twitter:image" content="https://kuro-casino-f76882fd1dd7.herokuapp.com/assets/kurocasino<%= @vip %>.png" />
  </head>

  <body class="bg-emerald-700">
    <%= render 'shared/header' %>
    <%= render 'shared/flash_message' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
